@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="col-lg-6 col-md-6 infinity-form-container">
	<div class="col-lg-9 col-md-12 col-sm-8 col-xs-12 infinity-form">
		<div class="text-center mb-4">
			<h4>Reset Password</h4>
		</div>
		<!-- Form -->
		<form class="px-3" asp-action="ResetPassword" method="post">
			<!-- Input Box -->
			<input type="hidden" asp-for="Email" />
			<input type="hidden" asp-for="Token" />

			<div class="form-input">
				<span><i class="fa fa-lock"></i></span>
				<input type="password" asp-for="Password" placeholder="Password" required>
			</div>
			<div class="form-input">
				<span><i class="fa fa-lock"></i></span>
				<input type="password" asp-for="ConfirmPassword" placeholder="ConfirmePassword" required>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-block">ChangePassword</button>
			</div>
		</form>
	</div>
</div>



