@model UpdateRoleViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update Role</h1>
<br />
<br />

<form asp-controller="Role" asp-action="Update" asp-route-id="@Model.Id">
    <partial name="PartialViews/CreateEditPartialView" model="@Model" />
    <div class="my-3">
        <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-route-id="@Model.Id"> AddOrRemoveUsers</a>
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

