@model DepartmentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />

<form asp-action="Create">
    <div class="row mb-3">
        <label asp-for="Code" class="col-sm-2 col-form-label">Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Code">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name">
        </div>
    </div>
    <input type="submit" value="Create" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>